.container.mt-4
  .card.shadow-sm
    .card-header.bg-light
      %h2.mb-0= action_name == 'new' ? '新規住所追加' : '住所編集'
    .card-body
      = render 'form', address: @address

  = link_to '住所一覧へ戻る', users_addresses_path, class: 'btn btn-link mt-3'
