.container.mt-5
  %h2.mb-3 直近の配送履歴

  %table.table.table-striped
    %thead
      %tr
        %th 配送日
        %th 時間帯
        %th ステータス
    %tbody
      - if (subscription = current_user.subscription).present?
        - subscription.deliveries.default_order.each do |d|
          %tr
            %td= d.delivery_date
            %td= d.time_slot == 'am' ? '午前' : '午後'
            %td= d.status == 'preparing' ? '準備中' : '配送済み'
