%nav.bg-secondary.navbar.navbar-expand-lg.p-4{ data: { bs_theme: 'dark' } }
  .container-fluid
    = link_to '定期食材配信サービス', root_path, class: 'navbar-brand'
    .d-flex.justify-content-between.w-100
      - if user_signed_in?
        %ul.navbar-nav
          %li.nav-item
            -# = link_to '講師一覧', teachers_path, class: 'nav-link'
          %li.nav-item
            -# = link_to 'チケット', tickets_path, class: 'nav-link'
        %ul.navbar-nav
          %li.nav-item
            = button_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link'
      - else
        %ul.navbar-nav
          %li.nav-item
            = link_to 'ログイン', new_user_session_path, class: 'nav-link'
